

.menu-btn {
    position: absolute; 
    z-index: 1;
    right: 1rem;
    top: 1rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    @include trans-ease;

    &__burger {
        position: absolute;
        right: 0;
        top: 0.5rem;
        width: 28px;
        height: 3px;
        background: white;
        @include trans-ease;

        &::before {
            content: '';
            position: absolute;
            top: -8px;
            width: 20px;
            height: 3px;
            background: white;
            @include trans-ease
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -8px;
            width: 28px;
            height: 3px;
            background: #fff;
            @include trans-ease
        }

        &.open {
            transform: rotate(720deg);
            background: transparent;
        }
    }
}